{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="additional-forms">
        {% include '@App/includes/defaultForm.html.twig' with {'form': formCategory, 'formHeader': 'Category create/edit', 'formClass': 'category-form' } %}
    </div>
    {{ form_start(formItem, {'attr': {'class': 'item-form'} }) }}
        {{ form_widget(formItem) }}
    {{ form_end(formItem) }}
{% endblock content %}