{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="">
        {{ render(controller('AppBundle:Category:new', {}, {'onlyForm': true})) }}
    </div>
    {{ form_start(form, {'attr': {'class': 'item-form'} }) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock content %}