{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1 class="page-header">Shelves</h1>
    <div class="actions">
        <a href="{{ path('shelf_new') }}" class="btn btn-primary">Create</a>
    </div>
{% endblock content %}