@import "variables";
@import "mixins";

.navbar-brand {
  height: $hdr-height;
}

.navbar-fixed-top {
  background-color: #ffffff;
}

.content-wr {
  margin-top: $hdr-height;
}

.menu-wr {
  overflow: hidden;
}

.page-header {
  margin: 0 0 20px;
}

.actions {
  margin: 0 0 15px;
}

.ico-btn {
  margin-right: 5px;
}

.glyphicon {
  &.glyphicon-edit {

  }

  &.glyphicon-floppy-remove {
    color: #d9534f;
    background: none;
  }
}

button.glyphicon {
  border: none;
  padding: 0;
  outline: 0;
}

.add-form {
  //display: none;
}

body {
  //@include breakpoint($bp-sm) {
  //  background-color: #9fdf9f !important;
  //}
  //
  //@include breakpoint($bp-md) {
  //  background-color: #8cd98c !important;
  //}
  //
  //@include breakpoint($bp-lg) {
  //  background-color: #79d279 !important;
  //}
  //
  //@include breakpoint($bp-xl) {
  //  background-color: #66cc66 !important;
  //}
}
